@font-face {
    font-family: unifont;
    src: url(/Assets/unifont-8.0.01.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: unifont;
}

* {
    padding: 0;
    margin: 0;
}

div {
    animation: blink 0.5s step-start 0s;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 0;
}

#console {
    width: 792px;
    position: absolute;
    bottom: 0;
}

#consoleMask {
    width: 792px;
    height: 792px;
    border: 2px solid #fff;
    position: relative;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.player {
    animation: blink 1s step-start 0s infinite;
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 1;
    top: 0;
}

.tile {
    width: 18px; 
    height: 18px; 
    float: left;
}

#playerInputConsoleMask {
    height: 140px;
    width: 792px;
    border: 2px solid #fff;
    border-top: none;
    position: relative;
    top: 0;
}

#playerInputConsole {
    min-height: 140px;
    height: auto;
    width: 790px;
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll
}

.playerInput {
    width: 631px;
    height: 20px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    background-color: #000;
    color: #fff;
    font-family: unifont;
    font-size: 18px;
    position: relative;
    left: 1px;
    display: inline-block;
    float: left;
}

.playerName {
    width: 158px;
    height: 20px;
    position: relative;
    top: 0;
    border: 2px solid #fff;
    border-top: none;
    display: inline-block;
    float: left;
}

.playerInput:focus {
    outline-color: none;
    outline-style: none;
}

.line {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.name {
    display: inline;
    left: 0;
    width: 20%;
}

.content {
    display: inline;
    position: absolute;
    right: 0;
    width: 80%;
}

::-webkit-scrollbar {
    width: 0px;
}